---
// Component Imports
// You can import components from any supported Framework here!

import BaseLayout from '../layouts/BaseLayout.astro';
import Counter from '../components/Counter.vue';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Astro + ServiceStack Site';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

const data = await fetch('https://astro.tiptopweb.com.au/find-artists?format=json').then(response => response.json());

function convertToSlug(Text) {
  return Text.toLowerCase()
             .replace(/[^\w ]+/g, '')
             .replace(/ +/g, '-');
}
---
<BaseLayout title="Astro + ServiceStack">
    <h2 class="text-2xl py-4">List of Artists:</h2>
    <ul>
      {data.results.map(artist => <li><a class="underline text-orange-600 hover:text-orange-800" href={"/artist/" + convertToSlug(artist.name)}>{artist.name}</a></li>)}
    </ul>
    
    <Counter client:visible>
       <h1>Hello, Vue!</h1>
    </Counter>
</BaseLayout>