---
// Component Imports
// You can import components from any supported Framework here!

import BaseLayout from '../layouts/BaseLayout.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Astro + ServiceStack Site';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
// 

const data = await fetch('https://astro.tiptopweb.com.au/query-films?year=2022&orderBy=urlKey&format=json').then(response => response.json());
---
<BaseLayout title="Astro + ServiceStack" description="Test website using Astro and ServiceStack. Displays a list of movies from the AF French Film Festival">

    <h2 class="text-2xl py-4">List of Films for 2022:</h2>
    <div class="grid grid-cols-3 gap-3"> 
        { data.results.map(film => 
            <div class="text-green-800 hover:text-orange-600">          
               <a href={"/films/" + film.urlKey}><img src={"https:" + film.media[0].cpxParam.blobContainer + "/" + film.media[0].cpxParam.images.small.blobFileName} /></a>
               {film.cpxTitle.englishTitle}
            </div>
        ) }
    </div>   
</BaseLayout>

