---
// Testing petite-vue
---

<script hoist type="module">
  import { createApp } from 'https://unpkg.com/petite-vue@0.4.1/dist/petite-vue.es.js'
  createApp({ 
    $delimiters: ['{', '}'] 
  }).mount();
</script>

<div v-scope="{count: 0}" >
  {{ count }}
  <button @click="count++">inc</button>
</div>